<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LDBContext" connectionString="data source=BHO-SQL2012;initial catalog=LeasingDashBoard;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Web endpoint to access fusion CSV files-->
    <add key="UCMEndpoint" value="https://cbsi.fs.us2.oraclecloud.com:443/idcws/GenericSoapPort" />
    <!--Username used to connect to fusion-->
    <add key="Username" value="wfsvc@taubman.com" />
    <!--Password used to connect to fusion-->
    <add key="Password" value="C0mpT@$k14" />
    <!--Root folder for daily fusion file fodlders-->
    <add key="DVLoadsRootFolderName" value="\\nad-sqldv01\S$\DVLoads_Test" />
    <!--Formats the fusion file destination folder name as 20190315 for March 15, 2019-->
    <add key="DVLoadsDailyFolderName" value="yyyyMMdd" />
    <!--List of file names to download from Fusion-->
    <add key="FusionCSVFileNames" value="Buildings_c.csv, Charge_c.csv, LLCost_c.csv, OpportunityExpVO.csv, OptyRentExp.csv, OrganizationProfileExpVO.csv, Units_c.csv" />
    <!--DataVault Service run interval. Every day at 7:00AM-->
    <!--<add key="CRONTriggerInterval" value="0 0 7 ? * MON-SUN *" /> "0 0/1 * * * ?"-->
    <add key="CRONTriggerInterval" value="0 0/10 * * * ?" />
    <!--"0 0/1 * * * ?"-->
    <add key="JDEExtractSSISPacakes" value="https://taubman-my.sharepoint.com/:f:/p/bmw/Eqou-nMdlTtGs660nNdmS4EBgMEZrXvVgftwIpThkl9-2A?e=7E5VoN" />

    
  </appSettings>
</configuration>

